*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #1798cf, #65f0d7);
	background-attachment: fixed;
	background-size: cover;
}

body{
	font-family:  'Oswald', Gill Sans MT, ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
	height: 100%;
	width: 100%;
}

footer {
	font-size: 18px;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 12px 0;
	background-color: rgba(0,0,0,0.65);
}

#content{
margin: 0 auto;
text-align: center;
}

#chart_container{
margin-top: 64px;
margin-bottom: 4px;
background-color: rgba(0,0,0,0.65);
padding: 8px;
display: inline-block;
}

#chart{
max-width: 448px;
background-image: url("style/grid.png");
}

td{
width: 64px;
height: 64px;
text-align:center; 
vertical-align:middle;
min-width: 64px;
min-height: 64px;
}

#details{
margin: 0 auto;
padding-bottom: 56px;
padding-top: 4px;
width: 320px;
	background-color: rgba(0,0,0,0.65);
}

.ball{
background-color: rgba(0,0,0,0.4);
}

.empty {
background-color: rgba(0,0,0,0.4);
}

.HA {
background-image: url("style/HA.png");
}

.EM {
background-image: url("style/EM.png");
}

.HA-EM {
background-image: url("style/HAEM.png");
}

img{
display: block;
max-width: 48px;
max-height: 48px;
margin: auto;
}

#dots{
	background: url('style/repeat-dots.png') repeat fixed center; 
	background-attachment: fixed;
	height: 100%;
}

#stripes{
	background-image: url('style/repeat-stripes.png');
	background-attachment: fixed;
	background-repeat:repeat fixed;
	height: 100%;
}

table {
border-collapse: collapse;
}

a {
    color: white;
	text-decoration: none;
}

a:hover {
    color: orange;
}

td:hover{
background-color: orange;
}

#title {
	position: fixed;
    font-family: 'Lobster', Impact, Charcoal, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 36px;
	text-align: center;
	width: 100%;
	padding: 4px 0;
	background-color: rgba(0,0,0,0.65);
	margin: 0 0 16px 0;
}